/* Google fonts Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");
/* Google fonts Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
/* Google fonts roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
/* Google fonts manrope */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");

:root {
  --primary-fonts: "Poppins", sans-serif;
  --secondary-fonts: "Inter", sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --footer-fonts: "Manrope", sans-serif;
  --primary-color: #3a3a3a;
  --pink-color: #e02c6d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-fonts);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.banner-btn,
.feature-btn {
  text-decoration: none;
}

.banner-btn button,
.feature-btn button {
  border: 0;
  background-color: var(--pink-color);
  color: #ffffff;
  padding: 10px 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 16px;
}

/* Nav Bar Styles */
.nav-bar {
  display: flex;
  justify-content: space-between;
}

.nav-title {
  font-weight: 700;
  font-size: 24px;
  color: var(--primary-color);
}

.nav-menu ul {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  list-style: none;
  gap: 34px;
}

.nav-menu ul a {
  text-decoration: none;
  color: var(--primary-color);
}

/* Banner section styles */
.banner {
  display: flex;
  align-items: center;
  gap: 130px;
}

.banner-left {
  width: 60%;
}

.banner-right {
  width: 40%;
  background-image: url("../images/Circle\ design.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 15px;
}

.banner-photo {
  width: 100%;
}

.banner-title {
  font-weight: 700;
  font-size: 52px;
  color: var(--primary-color);
}

.banner-desc {
  font-weight: 600;
  font-size: 16px;
  color: var(--primary-color);
  margin: 16px 0;
}

.banner-btn button {
  border-radius: 41px;
}

/* Company section styles */
.company-wrapper {
  display: flex;
  gap: 61px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0;
  border-top: 1px solid #00000014;
  border-bottom: 1px solid #00000014;
}

/* Products section styles */
.products-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.see-more-btn {
  text-decoration: none;
  color: var(--pink-color);
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.product {
  background: #FFFFFF;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 15px;
}

.product-img img {
  width: 100%;
}

.products-title {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  color: #3A3A3A;
  padding: 20px 0px;
}

.product-name {
  font-weight: 500;
  font-size: 28px;
  color: #18191F;
  margin: 12px 0 6px;
}

.product-price {
  font-weight: 400;
  font-size: 24px;
  font-family: var(--secondary-fonts);
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 5px;
}

.product-rating {
  font-size: 14px;
  color: #FF7A00;
}

.product-rating span {
  font-weight: 700;
  margin-left: 8px;
  color: #5E6366;
  font-family: var(--font-roboto);
}

.product-desc {
  font-weight: 700;
  font-size: 14px;
  font-family: var(--secondary-fonts);
  color: #787885;
  margin-top: 5px;
}

/* Feature sectio styles */
.feature.container {
  display: flex;
  gap: 96px;
  align-items: center;
}

.feature-left {
  width: 35%;
}

.feature-left img {
  width: 100%;
}

.feature-right {
  width: 65%;
}

.feature-title {
  font-weight: 700;
  font-size: 2.3em;
  color: #0A0826;
}

.feature-desc {
  font-weight: 700;
  font-size: 16px;
  margin: 16px 0;
  color: #6C6C6C;
}

/* Footer styles */
.footer {
  background-color: #0A0826;
  margin-top: 50px;
  width: 100%;
  padding: 50px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-title {
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
}

.footer-desc {
  font-weight: 700;
  font-size: 14px;
  margin: 3px 0px;
  color: #D9DBE1;
  font-family: var(--footer-fonts);
}

.footer-contact {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 17px;
}

.footer-contact a {
  font-size: 16px;
  padding: 5px;
  width: 32px;
  background-color: #22213C;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
}

/*====================
   Responsive styles
======================*/

@media only screen and (max-width:600px) {
  .container {
    padding: 25px 15px;
  }

  /* Navbar styles */
  .nav-bar,
  .nav-menu ul {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  /* Banner styles */
  section.banner {
    flex-direction: column-reverse;
    gap: 14px;
  }

  .banner-left {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .banner-right {
    width: 80%;
  }

  .banner-title {
    font-size: 28px;
    text-align: center;
  }

  .banner-desc {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }

  .banner-btn {
    margin: 0 auto;
  }

  /* Company section styles */
  .company-wrapper {
    border: 0;
    gap: 55px;
    padding: 0;
  }

  /* Products section  */
  .products-wrapper {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 30px;
  }

  .products-title {
    font-weight: 600;
    font-size: 16px;
    padding: 0;
  }

  .product-name {
    font-size: 28px;
    font-weight: 700;
  }

  .product-price {
    font-size: 24px;
    font-weight: 700;
  }

  .product-rating {
    font-size: 14px;
    font-weight: 500;
  }

  .product-desc {
    font-size: 14px;
    font-weight: 400;
  }

  /* Feature styles */
  .feature.container {
    flex-direction: column-reverse;
    text-align: center;
    gap: 30px;
  }

  .feature-left {
    width: 100%;
  }

  .feature-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2.feature-title {
    font-weight: 700;
    font-size: 24px;
  }

  /* Footer styles  */
  .footer {
    margin-top: 25px;
  }

  .footer-title {
    font-weight: 700;
    font-size: 16px;
  }

  .footer-desc {
    font-weight: 700;
    font-size: 12px;
  }
}

.hide {
  display: none;
}